<h1>Make your form here</h1>

<form method="POST" action="/pirate">

<h1>CreATe YaR PyraTe!</h1>
  <ul>
    <li> Name:   <input type="text" name="pirate[name]"</li>
    <li> Weight: <input type="text" name="pirate[weight]"</li>
    <li> Height: <input type="text" name="pirate[weight]"</li>
  </ul>

<h2>CreAte YaR fiRSt ShiP!</h2>
  <ul>
    <li> Name:   <input type="text" name="pirate[ships][][name]"</li>
    <li> Type:   <input type="text" name="pirate[ships][][name]"</li>
    <li> Booty:  <input type="text" name="pirate[ships][][booty]"</li>
  </ul><br>

  <h2>CreAte YaR sEConD ShiP!</h2>
    <ul>
      <li> Name:   <input type="text" name="pirate[ships][][name]"</li>
      <li> Type:   <input type="text" name="pirate[ships][][name]"</li>
      <li> Booty:  <input type="text" name="pirate[ships][][booty]"</li>
    </ul><br>
    <input type="submit">

  </form>
