

<h1>Make your form here</h1>
<form action="/pirates" method="POST">
  <lable for="name">Name</label>
  <input type="text" id="name" name="pirate[name]"/>
  <lable for="weight">Weight</lable>
  <input type="text" id="weight" name="pirate[weight]"/>
  <lable for="height">Height</lable>
  <input type="text" id="height" name="pirate[height]"/>

  <lable for="ship_name_1">Ship name</lable>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"/>
  <lable for="ship_type_1">Ship type</lable>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]"/>
  <lable for="ship_booty_1">Ship booty</lable>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/>

  <lable for="ship_name_2">Ship name</lable>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]"/>
  <lable for="ship_type_2">Ship type</lable>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]"/>
  <lable for="ship_booty_2">Ship booty</lable>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"/>

  <input type="submit" value="Submit"/>
</form>
