<h1><%= "Pirate Name: #{@pirate.name}, height: #{@pirate.height}, and weight: #{@pirate.weight}" %></h1>


<h2><%= "Ship Name: #{@ships[0].name}, type: #{@ships[0].type}, and booty: #{@ships[0].booty}" %></h2>


<h2><%= "Ship2 Name: #{@ships[1].name}, type: #{@ships[1].type}, and booty: #{@ships[1].booty}" %></h2>
